@charset "EUC-KR";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
	font-family: 'Noto Sans KR', sans-serif !important;
}

h4 {
	height: 50px;
	line-height: 30px;
	margin: 0;
}

h5 {
	color: #2E6FEB;
}

a{
	color: black;
    text-decoration: none;
}

.progress-bar {
	background-color: #396FD6;
}

.btn-start {
	background: #F7F7F7;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	font-weight: bold;
	font-size: large;
	padding: 12px;
}

.btn-opt {
	background: #F7F7F7;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	font-weight: bold;
	font-size: large;
	width: 42%;
	padding-top:16%;
}

.btn-next {
	background: #F7F7F7;
	border-radius: 20px;
	color: #555555;
	font-weight: bold;
	
}

.btn-image {
	border: 0;
	background: transparent;
	padding: 0;
}

input[type="radio"]:checked + label {
	background: #396FD6;
	color: #FFFFFF;
}

button:disabled {
	color: lightgrey !important;
}

footer {
	background: #F7F7F7 !important;
}